# Carga de datos a través de la función read_csv

In [1]:
import pandas as pd
import os

In [34]:
mainpath = r"C:\Users\Taras Zykov\OneDrive - UPV\CURSOS ML\Curso completo de Machine Learning_ Data Science en Python\python-ml-course\datasets"
filename = r"titanic\titanic3.csv"
fullpath = os.path.join(mainpath, filename)

In [35]:
fullpath

'C:\\Users\\Taras Zykov\\OneDrive - UPV\\CURSOS ML\\Curso completo de Machine Learning_ Data Science en Python\\python-ml-course\\datasets\\titanic\\titanic3.csv'

In [36]:
data = pd.read_csv(fullpath)

In [21]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [38]:
data2 = pd.read_csv(mainpath + "\\" + "customer-churn-model\\Customer Churn Model.txt")
##Este txt tiene los valore separados por comas, por lo ue tecnicamente es un csv

In [40]:
data2.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [41]:
data2.columns.values

array(['State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan",
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls',
       'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins',
       'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn?'], dtype=object)

In [44]:
data_cols = pd.read_csv(mainpath + "\\" + "customer-churn-model\\Customer Churn Columns.csv")
data_cols

   Column_Names
0             A
1             B
2             C
3             D
4             E
5             F
6             G
7             H
8             I
9             J
10            K
11            L
12            M
13            N
14            O
15            P
16            Q
17            R
18            S
19            T
20            U

In [48]:
data_col_list = data_cols["Column_Names"].tolist()
data2 = pd.read_csv(mainpath + "\\" + "customer-churn-model\\Customer Churn Model.txt",
                   header=None, names = data_col_list)
data2.columns.values

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U'], dtype=object)

# Carga de datos a través de la función open

In [76]:
data3 = open(mainpath + "\\" + "customer-churn-model\\Customer Churn Model.txt", "r")

In [77]:
cols = data3.readline().strip().split(",")
n_cols = len(cols)

In [78]:
counter = 0
main_dict =  {}
for col in cols:
    main_dict[col] = []

In [83]:
for line in data3:
    values = line.strip().split(",")
    for i in range(len(cols)):
        main_dict[cols[i]].append(values[i])
    counter += 1

print("El dataset tiene %d filas y %d columnas"%(counter, n_cols))

El dataset tiene 3332 filas y 21 columnas

In [85]:
df3= pd.DataFrame(main_dict)
df3.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,OH,107,415,371-7191,no,yes,26,161.600000,123,27.470000,...,103,16.620000,254.400000,103,11.450000,13.700000,3,3.700000,1,False.
1,NJ,137,415,358-1921,no,no,0,243.400000,114,41.380000,...,110,10.300000,162.600000,104,7.320000,12.200000,5,3.290000,0,False.
2,OH,84,408,375-9999,yes,no,0,299.400000,71,50.900000,...,88,5.260000,196.900000,89,8.860000,6.600000,7,1.780000,2,False.
3,OK,75,415,330-6626,yes,no,0,166.700000,113,28.340000,...,122,12.610000,186.900000,121,8.410000,10.100000,3,2.730000,3,False.
4,AL,118,510,391-8027,yes,no,0,223.400000,98,37.980000,...,101,18.750000,203.900000,118,9.180000,6.300000,6,1.700000,0,False.

In [104]:
infile = mainpath + "\\" + "customer-churn-model\\Customer Churn Model.txt"
outfile = mainpath + "\\" + "customer-churn-model\\Tab Customer Churn Model.txt"

In [105]:
#Separar los diferentes elementos mediate un tabulador (/t)
with open(infile, "r") as infile1:
    with open(outfile, "w") as outfile1:
        for line in infile1:
            fields = line.strip().split(",")
            outfile1.write("\t".join(fields))
            outfile1.write("\n")

In [106]:
df4 = pd.read_csv(outfile, sep="\t")
df4.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.


# Leer datos desde una URL

In [23]:
medals_url = "http://winterolympicsmedals.com/medals.csv"

In [24]:
medals_data = pd.read_csv(medals_url)

In [25]:
medals_data.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [26]:
import csv
import urllib3

In [39]:
response = urllib3.PoolManager().request('GET', medals_url)
response_csv = csv.reader(response.data.decode('utf-8').split('\n'))

AttributeError: '_csv.reader' object has no attribute 'head'

In [30]:
medals_cols = next(response_csv)
medals_n_cols = len(medals_cols)
medals_cols

['Year',
 'City',
 'Sport',
 'Discipline',
 'NOC',
 'Event',
 'Event gender',
 'Medal']

In [35]:
count_med = 0
medal_dict = {}
for col in medals_cols:
    medal_dict[col] = []

In [37]:
for line in response_csv:
    for i in range(medals_n_cols):
        medal_dict[medals_cols[i]].append(line[i])
    count_med += 1
print("El data set tiene %d filas y %d columnas"%(count_med, medals_n_cols))

El data set tiene 2308 filas y 8 columnas

# Ficheros XLS y XLSX

In [4]:
mainpath = "C:\Users\Taras Zykov\OneDrive - UPV\CURSOS ML\Curso completo de Machine Learning_ Data Science en Python\python-ml-course\datasets"
filename = "titanic\titanic3.csv"

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-4-71c5d616054b>, line 1)

In [5]:
titanic2 = pd.read_excel(mainpath + "/" + filename, "titanic3")

XLRDError: Unsupported format, or corrupt file: Expected BOF record; found b'pclass,s'

In [7]:
titanic3 = pd.read_excel(mainpath + "/" + filename, "titanic3")

XLRDError: Unsupported format, or corrupt file: Expected BOF record; found b'pclass,s'